
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.Date
    </div>
    <div>
        @Html.ActionLink("Action With Error", "ActionWithError")
        @Html.ActionLink("Action With Format Exception", "ActionWithFormatException")
        @Html.ActionLink("Non-existent Action", "ahahahahahaha")
    </div>
    <div>
        Important: While testing on localhost, start project with CTRL + F5 (Start Without Debugging)
    </div>
</body>
</html>
